@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    cursor: none;
}

body, html{
    width: 100%;
    background-color: white;
}

nav ul {
    position: relative;
    top: 20px;
    width: 100%;
    height: 50px;
    list-style: none;
}

.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    position: relative;
    transition-timing-function: ease-in-out;
}

nav ul li a {
    right: calc(100% + 4rem);
    text-align: center;
    color: white;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    padding: 10px 60px;
}

nav ul li ul.dropdown {
    right: 0;
    width: 100%;
    position: absolute;
    top: calc(100% + .5rem);
    z-index: 0;
    display: none;
}

.navbar li:hover .dropdown{
    display: block;
}



.dropdown li:hover a{
    color: rgb(231, 27, 51);
}

input, ul.dropdown {
    display: none;
  }

  label {
    right: calc(100% + 4rem);
    text-align: center;
    color: white;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    padding: 10px 60px;
  }

  input:checked~ul.dropdown {
    display: block;
  }

.nav-dropdown{
    font-size: 15px;
}


.inner-cursor{
    position: fixed;
    left: 10px;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 50%;
    pointer-events: none;
    transition-timing-function: ease-in-out;
}

nav ul li:hover ~ .inner-cursor
{
    transform: scale(5);
    mix-blend-mode:difference ;
    transition: 0.1s;
}

.portfolioheader{
    text-align: center;
    color: rgb(231, 27, 51);
    text-transform: lowercase;
    font-size: 15px;
    max-width: 1300px;
    padding: 15px;
    padding-top: 26px;
    margin: auto;
}

.portfolioprojects{
    margin: auto;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    padding: 15px;
    padding-bottom: 200px;
}

.individual_projects{
    width: 635px;
    height: 665px;
    display: inline-block;
    text-align: center;
}

.Project1{
    width: 635px;
    height: 635px;
    display: inline-block;
    background: url(../projects/ON3still.png) no-repeat;
}
.individual_projects :hover .Project1{
    background: url(../projects/ON3animated.gif) no-repeat;
}

.Project2{
    width: 635px;
    height: 635px;
    display: inline-block;
    background: url(../projects/OV3still.png) no-repeat;
}
.individual_projects :hover .Project2{
    background: url(../projects/OV3animated.gif) no-repeat;
}

.Project3{
    width: 635px;
    height: 635px;
    display: inline-block;
    background: url(../projects/TE5still.png) no-repeat;
}
.individual_projects :hover .Project3{
    background: url(../projects/TE5animated.gif) no-repeat;
}

.Project4{
    width: 635px;
    height: 635px;
    display: inline-block;
    background: url(../projects/ON5still.png) no-repeat;
}
.individual_projects :hover .Project4{
    background: url(../projects/ON5animated.gif) no-repeat;
}

.Project5{
    width: 635px;
    height: 635px;
    display: inline-block;
    background: url(../projects/ON4still.png) no-repeat;
}
.individual_projects :hover .Project5{
    background: url(../projects/ON4animated.gif) no-repeat;
}

.Project6{
    width: 635px;
    height: 635px;
    display: inline-block;
    background: url(../projects/ON2still.png) no-repeat;
}
.individual_projects :hover .Project6{
    background: url(../projects/ON2animated.gif) no-repeat;
}

.Project7{
    width: 635px;
    height: 635px;
    display: inline-block;
    background: url(../projects/GR4still.png) no-repeat;
}
.individual_projects :hover .Project7{
    background: url(../projects/GR4animated.gif) no-repeat;
}

.Project8{
    width: 635px;
    height: 635px;
    display: inline-block;
    background: url(../projects/ISUUstill.png) no-repeat;
}
.individual_projects :hover .Project8{
    background: url(../projects/ISUUanimatedv2.gif) no-repeat;
}

.text_underneath_project{
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 0;
    width: 635px;
}


/* Footer */
.container{
	max-width: 1170px;
	margin:auto;
    margin-left: 25%;
}
.row{
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
}
ul{
	list-style: none;
}
.footer{
	background-color: rgb(41, 40, 40);
    padding: 70px 0;
}
.footer-col{
   width: 40%;
   padding: 0 15px;
   cursor: url(../img/dotdotdot.svg);
}
.footer-col h4{
	font-size: 18px;
	color: #f0f0f0;
	text-transform:uppercase;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
    transition: all 0.3s ease;
}
.footer-col h4:hover{
    color: white;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: rgb(231, 27, 51);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform:lowercase;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
