* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    cursor: none;
}

body, html{
    width: 100%;
    height: 200vh;
    background-color: white;
}

nav ul {
    position: relative;
    top: 20px;
    width: 100%;
    height: 50px;
    list-style: none;
}

.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    position: relative;
    transition-timing-function: ease-in-out;
}

nav ul li a {
    right: calc(100% + 4rem);
    text-align: center;
    color: white;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    padding: 10px 60px;
}

nav ul li ul.dropdown {
    right: 0;
    width: 100%;
    position: absolute;
    top: calc(100% + .5rem);
    z-index: 0;
    display: none;
}

.navbar li:hover .dropdown{
    display: block;
}



.dropdown li:hover a{
    color: rgb(231, 27, 51);
}

input, ul.dropdown {
    display: none;
  }

  label {
    right: calc(100% + 4rem);
    text-align: center;
    color: white;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    padding: 10px 60px;
  }

  input:checked~ul.dropdown {
    display: block;
  }

.nav-dropdown{
    font-size: 15px;
}


.inner-cursor{
    position: fixed;
    left: 10px;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 50%;
    pointer-events: none;
    transition-timing-function: ease-in-out;
}

nav ul li:hover ~ .inner-cursor
{
    transform: scale(5);
    mix-blend-mode:difference ;
    transition: 0.1s;
}

.portfolioheader{
    text-align: center;
    color: rgb(231, 27, 51);
    text-transform: lowercase;
    font-size: 15px;
    max-width: 1300px;
    padding: 15px;
    padding-top: 26px;
    margin: auto;
}

.portfolioprojects{
    margin: auto;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: top;
    justify-content: left;
    padding: 15px;
    padding-bottom: 200px;
}

.individual_projects{
    width: 635px;
    height: 665px;
    display: inline-block;
    text-align: center;
}

.Project1{
    width: 635px;
    height: 635px;
    display: inline-block;
    background: url(../projects/ON3still.png) no-repeat;
}
.individual_projects :hover .Project1{
    background: url(../projects/ON3animated.gif) no-repeat;
}

.Project2{
    width: 635px;
    height: 635px;
    display: inline-block;
    background: url(../projects/OV3still.png) no-repeat;
}
.individual_projects :hover .Project2{
    background: url(../projects/OV3animated.gif) no-repeat;
}

.Project3{
    width: 635px;
    height: 635px;
    display: inline-block;
    background: url(../projects/TE5still.png) no-repeat;
}

.Project4{
    width: 635px;
    height: 635px;
    display: inline-block;
    background: url(../projects/ON5still.png) no-repeat;
}

.Project5{
    width: 635px;
    height: 635px;
    display: inline-block;
    background: url(../projects/ON4still.png) no-repeat;
}

.Project6{
    width: 635px;
    height: 635px;
    display: inline-block;
    background: url(../projects/ON2still.png) no-repeat;
}

.Project7{
    width: 635px;
    height: 635px;
    display: inline-block;
    background: url(../projects/GR4still.png) no-repeat;
}

.Project8{
    width: 635px;
    height: 635px;
    display: inline-block;
    background: url(../projects/ISUUstill.png) no-repeat;
}

.text_underneath_project{
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 0;
    width: 635px;
}